{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-0" style="width:100%">
<img src="/static/img/contact-us-image.jpg" class="d-block w-100 p-2"  width="1300" height="500">
</div>

<div class="container-fluid py-4 " style="width:100%">
    <div class="row" >
  <div class="mx-auto col-10 col-md-8 col-lg-6">
    <form method="post" action="/contact/">
        {% csrf_token %}
    <div class="mb-3">
  <label for="name" class="form-label"><b>Name</b></label>
  <input type="text" class="form-control" style="width:100%; border:1px solid black" id="name" name="name" value='{{request.user.username}}' placeholder="Enter Username" required>
</div>
    <div class="mb-3">
  <label for="email" class="form-label"><b>Email address</b></label>
  <input type="email" class="form-control" style="width:100%; border:1px solid black " id="email" name="email" value='{{request.user.email}}' placeholder="Enter Email" required>
</div>
    <div class="mb-3">
  <label for="phone" class="form-label"><b>Phone Number</b></label>
  <input type="tel" class="form-control" style="width:100%; border:1px solid black" id="phone" name="phone" maxlength="10" placeholder="(+91)...">
</div>
<div class="mb-3">
  <label for="desc" class="form-label"><b>Your Description</b></label>
  <textarea class="form-control" id="desc" style="width:100%; border:1px solid black" rows="3" name="desc" placeholder="Type message in 500 words..."></textarea>
</div>
        <div class="text-center">
    <button class="btn btn-primary" type="submit" > Submit </button>
            </div>
</form>
  </div>
    </div>
</div>
{% endblock content %}


{% block title %}
Contact
{% endblock title %}
