{% extends 'base.html' %}

{% block content %}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/iceCreamDetails.css">


<div class="container">
    <button type="button" class="btn btn-secondary mt-2 mb-0 " onclick="window.location.href = '/'"><span class="bi bi-arrow-return-left"></span> Back </button>
    <div class="card">
        
        <div class="container-fliud">
            
            <div class="wrapper row">
                
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                        
                      <div class="tab-pane active" id="pic-1"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-2"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-3"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-4"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-5"><img src="{{product.img.url}}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-5" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                    </ul>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.name}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description"> {{product.Desc | safe }}</p>
                    {% comment %} <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> {% endcomment %}
                    <h4 class="price" >price: ₹<span id="dynamicPrice"> {{product.price}}</span></h4>
                    <h4 class="weight" >Weight: <span id="dynamicWeight"> {{product.quantity}} ml</span></h4>
                    
                    <h4 class="sizes">Quantity:
                    <input type="number" value="1" id="quantity" style="width: 60px;" onchange="CalcAmount(this.value)"> 
                    </h4>
                    
                    <h4 class="sizes">Total Price: ₹
                    <input class="Total_price" type="text" id="Total_price" name="Total_price" value="{{product.price}}" style="cursor:default; border: none; background: #eee; width: 60px; color: #ff9f1a; font-weight: bold;" readonly>
                    <script src="/static/js/iceCreamDetails.js">
                    </script>
                    </h4>

                    <div class="action">
                        <button class="add-to-cart btn btn-secondary" type="button" >BUY</button>
                        <button class="like btn btn-secondary" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock content %}

{% block title %}
Ice Cream Details
{% endblock title %}
