{% extends 'base.html' %}

{% block content %}


<link rel="stylesheet" type="text/css" href="/static/css/iceCreamDetails.css">

<div class="container">
    <button type="button" class="btn btn-secondary mt-2 mb-0 " onclick="history.back()"><span class="bi bi-arrow-return-left"></span> Back </button>
    <div class="card">
        
        <div class="container-fliud">
            
            <div class="wrapper row">
                
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                        
                      <div class="tab-pane active" id="pic"><img id="pic-{{product.id}}" src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-2"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-3"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-4"><img src="{{product.img.url}}" /></div>
                        <div class="tab-pane" id="pic-5"><img src="{{product.img.url}}" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                      <li><a data-target="#pic-5" data-toggle="tab"><img src="{{product.img.url}}" /></a></li>
                    </ul>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title" id="name">{{product.name}}</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description"> {{product.Desc | safe }}</p>
                    {% comment %} <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> {% endcomment %}
                    <h4 class="price" >price: ₹<span id="dynamicPrice"> {{product.price}}</span></h4>
                    <h4 class="weight" >Weight: <span id="dynamicWeight"> {{product.quantity}} ml</span></h4>
                    
                    <h4 class="sizes">Quantity:
                    <input type="number" value="1" id="quantity" style="width: 60px;" onchange="CalcAmount(this.value)"> 
                    </h4>
                    
                    <h4 class="sizes">Total Price: ₹
                    <input class="Total_price" type="text" id="Total_price" name="Total_price" value="{{product.price}}" style="cursor:default; border: none; background: #eee; width: 60px; color: #ff9f1a; font-weight: bold;" readonly>
                    <script src="/static/js/iceCreamDetails.js">
                    </script>
                    </h4>

                    <div class="action">
                        
                        
                        {% if request.user.is_anonymous %}
                            <!-- Button trigger modal -->
                            <button type="button" class="add-to-cart btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">  BUY</button>
                            <button type="button" class="add-to-cart btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add To Cart
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">You are not logged in.</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <h5> Please Login to add item in Cart </h5>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="window.location.href='/users/login'">Login</button>
                                    </div>
                                </div>
                                </div>
                            </div>                      
                        {% else %}
                        <button class="add_to_cart add-to-cart btn btn-secondary" id="{{product.id}}">Add To Cart
                        </button>
                        <button class="buy add-to-cart btn btn-secondary" onclick='window.location.href="/cartProduct"' id="{{product.id}}">BUY</button>
                        {% endif %}
                        
                        {% comment %} <button class="like btn btn-secondary"><span class="fa fa-heart"></span></button> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>

// Find out the cart item from session storage
    if (sessionStorage.getItem('cart') == null) {
        let cart = {};
    }
    else {
        cart = JSON.parse(sessionStorage.getItem('cart'));
        document.getElementById('cartcount').innerHTML = Object.keys(cart).length;
    }
// JQuery
// If 'Add to cart' is clicked, add/minus the item
    $(document).ready(function() { 
    $('.add_to_cart, .buy').click(function(){
        let prd_id = this.id.toString();   
        if (cart[prd_id] != undefined){
            cart[prd_id][0] += 1;

        }
        else{
            qty = 1;
            let prd_name = "{{product.name}}"
//            let prd_img = document.getElementById('pic-'+prd_id).src;
            let prd_img = "{{product.img.url}}"
            let prd_price = "{{product.price}}"
            let slug_name = "{{product.icecream_slug}}"
            let prd_ttl_price = "{{product.price}}"
            cart[prd_id] = [qty, prd_name, prd_img, prd_price, slug_name, prd_ttl_price];
        }
        sessionStorage.setItem('cart',JSON.stringify(cart))
        document.getElementById('cartcount').innerHTML = Object.keys(cart).length;
    });
    });
    

</script>
{% endblock js %}


{% block title %}
Ice Cream Details
{% endblock title %}
